<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel=stylesheet type=text/css href={{url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Upload a File</h3>
      </div>
      <hr/>
      <div>

      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>
  </body>
</html>